**
!containers/
!containers/Dockerfile
!containers/fips/
!containers/fips/openssl.cnf
!tools/
!tools/assert-rpm-lock-hashes.sh
!tools/fetch-openssl-fips-provider-rpms.sh
!tools/fetch-runtime-rpms.sh
!rpm-lock/
!rpm-lock/*.txt
